.nav {
  display: flex;
  gap: 8px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: var(--radius-full);
  background-color: #171717;
  color: white;
  cursor: pointer;
  border: none;
  transition: opacity 0.2s;
}

:global([data-theme="light"]) .btn {
  background-color: #ebebeb;
  color: #000000;
}

.btn:hover {
  opacity: 0.75;
}
