.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
}

.title {
  font-size: var(--text-3xl);
  color: var(--fg-100);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

.label {
  font-size: var(--text-base);
  color: var(--fg-200);
}

.linkBox {
  background-color: var(--bg-150);
  padding: var(--spacing-14) var(--spacing-22);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.linkText {
  font-size: var(--text-sm);
  color: var(--fg-150);
  word-break: break-all;
  font-family: var(--font-mono), monospace;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-12);
}

[data-theme="light"] .iconDark {
  display: none;
}

[data-theme="dark"] .iconLight {
  display: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .title {
    font-size: var(--text-2xl);
  }

  .buttons {
    grid-template-columns: 1fr;
  }

  .footer {
    justify-content: stretch;
  }

  .footer > * {
    width: 100%;
  }
}
